html {
	height: 100%;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    background: var(--color-bg);
    color: var(--color-primary);
    @extend .font-regular;

    // Change the selection color
    ::selection {
        color: var(--color-bg);
        background: var(--color-primary);
    }

    ::-moz-selection {
        color: var(--color-bg);
        background: var(--color-primary);
    }
}

// Global Styles for Typography
// -----------------------------------------

// Base Size Font
.font-regular {
    font: normal 18px/22px var(--font-primary);
}

@media #{$lt-tablet} {
    .font-regular {
        font-size: 14px;
        line-height: 18px;        
    }
}

// Large Size Font
.font-large {
    font: normal 24px/37px var(--font-primary);
}

@media #{$lt-tablet} {
    .font-large {
        font-size: 18px;
        line-height: 24px;        
    }
}