:root {
    // Colors
    // -----------------------------------------
    --color-bg: #000;
    --color-primary: #FDC760;

    // Fonts
    // -----------------------------------------
    --font-primary: RMNeue;

    // Gutter
    // -----------------------------------------
    --gutter-sides: 50px;
    --gutter-top: 30px;


    @include bp(mobile) {
        --gutter-sides: 15px;
    }
}

body {
    margin: 0;
    background: var(--color-bg);
    color: var(--color-primary);
    @extend .font-regular;
}

// Global Styles for Typography
// -----------------------------------------

// Base Size Font
.font-regular {
    font: normal 18px/22px var(--font-primary);
}

@include bp(tablet) {
    .font-regular {
        font-size: 14px;
        line-height: 18px;        
    }
}

// Large Size Font
.font-large {
    font: normal 24px/37px var(--font-primary);
}

@include bp(tablet) {
    .font-large {
        font-size: 18px;
        line-height: 24px;        
    }
}